body {
    background-color:#ecf6f1;
    color:black;
    height: 100vh;
}


.questions {
    display:flex;
    justify-content: center;
    color:#4d4d4d;
}

.title{
    display: flex;
    justify-content: center;
}

.time-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.number {
    font-size: 30px;
    padding: 5px 20px;
    margin-left: -18px;
    margin-top:16px;
    color:black;
    font-size:3em;
   
}

.textarea-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
textarea {
    outline: none;
    border-radius: 10px;
    height: 100px;
    width: 600px;
    background-color:#626363;
    color:white;
    font-size: 2em;
    font-weight:450; 
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.submit-btn {
    outline: none;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    background-color:#00a769;
    color: white;
    font-size:15px;
    font-weight:450; 
}

.submit-btn :hover {
    color: #0a9371;
    color: black;
}





